### Write a program that will ask the user any number, then print the multiplication table of that number

In [1]:
user_num = int(input("What is your number for multiplication table: "))

for i in range(1,11):
    mult = user_num * i
    print(f"{user_num} * {i} = {mult}")

What is your number for multiplication table: 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### You have a list of the names of all the planets in your solar system. Write a program that will print planet names with a length greater than 5.

In [2]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

for planet in planets:
    if len(planet) > 5:
        print(planet)

Mercury
Jupiter
Saturn
Uranus
Neptune

### You have three number, (a = 1000, b = 240, c = 40), you may assume another number. Now, write a program to find which is greatest number.

In [3]:
a = 1000
b = 2000
c = 40

if a>b and a>c:
    print(f'"a" having value {a} is the greatest number.')
elif b>a and b>c:
    print(f'"b" having value {b} is the greatest number.')
elif c>a and c>b:
    print(f'"c" having value {c} is the greatest number.')

"b" having value 2000 is the greatest number.

### Write a program that will print the 15 randomly generated numbers from 1 digit to 3 digits. Also, print which number is even and which is odd.

In [4]:
# Import required libraries

import random

In [5]:
number_list = []

for i in range(0,15):
    number_list.append(random.randint(1,999))
    
print(number_list)

[457, 389, 913, 184, 479, 583, 220, 692, 132, 32, 174, 848, 872, 966, 763]

In [6]:
for num in number_list:
    if num % 2 == 0:
        print(f"{num} is an even number")
    else:
        print(f"{num} is an odd number")

457 is an odd number
389 is an odd number
913 is an odd number
184 is an even number
479 is an odd number
583 is an odd number
220 is an even number
692 is an even number
132 is an even number
32 is an even number
174 is an even number
848 is an even number
872 is an even number
966 is an even number
763 is an odd number

### Print today’s date and 365 days ago date

In [7]:
from datetime import datetime, timedelta

date_today = datetime.now()
date_365 = date_today - timedelta(days=365)

print(f"Today is: {date_today}")
print(f"365 days ago date was:: {date_365}")

Today is: 2022-04-05 21:29:42.223963
365 days ago date was:: 2021-04-05 21:29:42.223963

### Program that will print price including tax.

People from some states of America have come to see the show going on in London, and for this, they have to pay $ 12 and tax separately.

Now, write a program that will ask the users the name of their state. If they’re from “New York, Los Angeles, Chicago, Houston, Phoenix, San Antonio, San Diego, Dallas, San Jose, Austin” then include the tax of $1.21 in their price and print it.

And if they are from “Fort Worth, Columbus, San Francisco, Denver, Washington, El Paso, Las Vegas, Detroit, Louisville, Albuquerque” then include the tax of $0.41 in their price and print it.

And if they are from any other states then include the tax of $0.39 in their price and print it.

In [8]:
states = ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix", "San Antonio", "San Diego", "Dallas", 
          "San Jose", "Austin"]

states_lower = []
for state in states:
    states_lower.append(state.lower())
print(states_lower)

['new york', 'los angeles', 'chicago', 'houston', 'phoenix', 'san antonio', 'san diego', 'dallas', 'san jose', 'austin']

In [9]:
user_state = input("Please enter your state name: ").lower()
ticket_price = 12
tax_states = 1.21
tax_others = 0.39
final_price = 0

if user_state in states_lower:
    final_price = ticket_price + tax_states
    print(f"Including tax {tax_states} dollar, you will have to pay {final_price} dollar.")
else:
    final_price = ticket_price + 0.39
    print(f"Including tax {tax_others} dollar, you will have to pay {final_price} dollar.")

Please enter your state name: chicago
Including tax 1.21 dollar, you will have to pay 13.21 dollar.

### Remove numbers greater than 65 from a list while iterating

Write a program to remove numbers greater than 65 out of 30 randomly generated numbers between 18 and 82 from a list while iterating.

In [10]:
import random

nums = []
for i in range(30):
    num = random.randint(18,82)
    nums.append(num)
    
print(f"30 Random Numbers are: {nums}")
print(len(nums))

30 Random Numbers are: [42, 63, 19, 67, 74, 43, 79, 29, 35, 54, 30, 38, 78, 56, 82, 24, 45, 33, 71, 39, 49, 27, 71, 73, 52, 57, 29, 73, 45, 56]
30

In [11]:
for num in nums:
    if num > 65:
        nums.remove(num)
        
print(f"Numbers less than 65 are : {nums}")
print(len(nums))

Numbers less than 65 are : [42, 63, 19, 74, 43, 29, 35, 54, 30, 38, 56, 24, 45, 33, 39, 49, 27, 52, 57, 29, 73, 45, 56]
23

### Square each Element from a given list
You have a list of numbers 1 to 10 and you have to double each element of that list. e.g. [1, 2, 3] will be [1, 4, 9].

In [12]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums_double = []
for num in nums:
    nums_double.append(num*num)
    
print(f"Doubling list is: {nums_double}")

Doubling list is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### A dictionary with even numbers as keys and their squares as values
Suppose we want to create an output dictionary that contains only even numbers which are present in the input list as keys and their squares as values. Ex – {2: 4, 3: 9}. So write a program to create this dictionary.

In [13]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

output = {}
for num in input_list:
    if num%2 == 0:
        output[num] = num*num

print(output)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

### Write a program to return the factorial of a number using a function

The factorial of a number is defined as the product of an integer and all the integers below it. It means, the factorial of 4 is 1×2×3×4, which is equal to 24. It is represented using the symbol ‘!’ So, 24 is the value of 4!

In [14]:
def factorial(num):
    mult = 1
    for i in range(1, num+1):
        mult *= i
    print(f"Factorial of {num} is {mult}")
    
factorial(9)

Factorial of 9 is 362880

### Write a program to return the initials of the word contained in the given phrase, in upper case

Understand this example, “australian space agency” should return “ASA” or “danish National Space center” should return “DNSC”.

In [15]:
def short_upper(text):
    words = text.split()
    text_first_upper = ""
    for word in words:
        first_letters = word[0].upper()
        text_first_upper += first_letters
    return text_first_upper

short_upper("INDIAN SPACE RESEARCH ORGANISATION")

'ISRO'

### Write a python program to check if given phrases are palindrome are not

Palindrome:- A palindrome is a word, phrase, verse or sentence that reads the same forward or backward. For Example:- “Redder” is a palindrome. “Borrow or bob” is also a palindrome. “Nurse is Nurse” is not a palindrome.

In [16]:
def is_palindrome(input_string):
    new_string = input_string.split()
    print(new_string)
    new_string = "".join(new_string).lower()
    print(new_string)
    reverse_string = new_string[::-1]
    print(reverse_string)
    if new_string == reverse_string:
        return True
    return False

In [17]:
print(is_palindrome("Never Odd Or Even"))

['Never', 'Odd', 'Or', 'Even']
neveroddoreven
neveroddoreven
True

In [18]:
print(is_palindrome("Victory Story kiv"))

['Victory', 'Story', 'kiv']
victorystorykiv
vikyrotsyrotciv
False

### Write a program to convert the fahrenheit degree value into celcius

Ask the user, the temperature degree in Fahrenheit. Now your task is to convert the value to the Celcius scale in 1 float point number(28.9) and print it.

In [19]:
temp_f = float(input("Please enter the temperature in Farenheit: "))
temp_c = round((temp_f-32)/1.8, 1)
print(f"{temp_f} degree fahrenheit is equal to {temp_c} degree celcius")

Please enter the temperature in Farenheit: 21
21.0 degree fahrenheit is equal to -6.1 degree celcius

### Write a function to return a new string from a given string after removing a specific word

Remove letter "o" from this given string "pneumonoultramicroscopicsilicovolcanoconiosis" and print it.

In [20]:
def remove_letter(n):
    split_it = n.split("o")
    print(split_it)
    result = "".join(split_it)
    return result

print(remove_letter("pneumonoultramicroscopicsilicovolcanoconiosis"))

['pneum', 'n', 'ultramicr', 'sc', 'picsilic', 'v', 'lcan', 'c', 'ni', 'sis']
pneumnultramicrscpicsilicvlcancnisis

### Write a Pandas program to add, subtract, multiple and divide two Pandas Series

In [54]:
import numpy as np
import pandas as pd

x=pd.Series([2,4,6,8,10])
y=pd.Series([1,3,5,7,9])
print(np.add(x,y))
print(np.multiply(x,y))
print(np.subtract(x,y))
print(np.divide(x,y))

0     3
1     7
2    11
3    15
4    19
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

### Write a Pandas program to compare the elements of the two Pandas Series

In [55]:
import numpy as np
import pandas as pd

x=pd.Series([2,4,6,8,10])
y=pd.Series([1,3,5,7,9])

In [56]:
x > y

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [57]:
x == y

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [58]:
x < y

0    False
1    False
2    False
3    False
4    False
dtype: bool

### Write a Pandas program to convert a dictionary to a Pandas series

In [59]:
s = pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})

In [62]:
s

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [63]:
s[0]

100

In [65]:
s['a']

100

### Write a Pandas program to convert a NumPy array to a Pandas series

In [69]:
np_array = np.array([10, 20, 30, 40, 50])
s = pd.Series(np_array)

In [70]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int32

### Number Guessing Game

* Build a Number guessing game, in which the user selects a range.
* Let’s say User selected a range, i.e., from A to B, where A and B belong to Integer.
* Some random integer will be selected by the system and the user has to guess that integer in the minimum number of guesses

In [3]:
import math
import random

lower_bound = int(input("Enter lower bound: "))
upper_bound = int(input("Enter upper bound: "))

secret_num = random.randint(lower_bound, upper_bound)
max_guess = round(math.log(upper_bound-lower_bound+1, 2))

print(secret_num)
print(f"You have only {max_guess} chances to guess the integer!")

Enter lower bound: 1
Enter upper bound: 100
44
You have only 7 chances to guess the integer!

In [ ]:
user_guess = upper_bound + 1
remaining_guess = max_guess

while remaining_guess !=0 or user_guess != secret_num:
    user_guess = int(input("Guess the number: "))
    remaining_guess -= 1
    
    if user_guess == secret_num:
        print(f"Congratulation you did it in {remaining_guess} try")
    elif user_guess > secret_num:
        print("You guessed too high!")
    else:
        print("You guessed too small!")

Guess the number: 50
You guessed too high!
Guess the number: 30
You guessed too small!
Guess the number: 31
You guessed too small!
Guess the number: 32
You guessed too small!
Guess the number: 33
You guessed too small!
Guess the number: 34
You guessed too small!
Guess the number: 35
You guessed too small!
Guess the number: 36
You guessed too small!
Guess the number: 37
You guessed too small!
Guess the number: 38
You guessed too small!
Guess the number: 39
You guessed too small!
Guess the number: 40
You guessed too small!
Guess the number: 41
You guessed too small!
Guess the number: 42
You guessed too small!
Guess the number: 43
You guessed too small!
Guess the number: 44
Congratulation you did it in -9 try