### Write a program that will ask the user any number, then print the multiplication table of that number

In [1]:
user_num = int(input("What is your number for multiplication table: "))

for i in range(1,11):
    mult = user_num * i
    print(f"{user_num} * {i} = {mult}")

What is your number for multiplication table: 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### You have a list of the names of all the planets in your solar system. Write a program that will print planet names with a length greater than 5.

In [2]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

for planet in planets:
    if len(planet) > 5:
        print(planet)

Mercury
Jupiter
Saturn
Uranus
Neptune

### You have three number, (a = 1000, b = 240, c = 40), you may assume another number. Now, write a program to find which is greatest number.

In [4]:
a = 1000
b = 2000
c = 40

if a>b and a>c:
    print(f'"a" having value {a} is the greatest number.')
elif b>a and b>c:
    print(f'"b" having value {b} is the greatest number.')
elif c>a and c>b:
    print(f'"c" having value {c} is the greatest number.')

"b" having value 2000 is the greatest number.

### Write a program that will print the 15 randomly generated numbers from 1 digit to 3 digits. Also, print which number is even and which is odd.

In [5]:
# Import required libraries

import random

In [6]:
number_list = []

for i in range(0,15):
    number_list.append(random.randint(1,999))
    
print(number_list)

[811, 892, 884, 461, 72, 955, 432, 293, 86, 445, 343, 389, 802, 799, 657]

In [7]:
for num in number_list:
    if num % 2 == 0:
        print(f"{num} is an even number")
    else:
        print(f"{num} is an odd number")

811 is an odd number
892 is an even number
884 is an even number
461 is an odd number
72 is an even number
955 is an odd number
432 is an even number
293 is an odd number
86 is an even number
445 is an odd number
343 is an odd number
389 is an odd number
802 is an even number
799 is an odd number
657 is an odd number

### Print today’s date and 365 days ago date

In [8]:
from datetime import datetime, timedelta

date_today = datetime.now()
date_365 = date_today - timedelta(days=365)

print(f"Today is: {date_today}")
print(f"365 days ago date was:: {date_365}")

Today is: 2022-04-01 10:58:57.081741
365 days ago date was:: 2021-04-01 10:58:57.081741

### Program that will print price including tax.

People from some states of America have come to see the show going on in London, and for this, they have to pay $ 12 and tax separately.

Now, write a program that will ask the users the name of their state. If they’re from “New York, Los Angeles, Chicago, Houston, Phoenix, San Antonio, San Diego, Dallas, San Jose, Austin” then include the tax of $1.21 in their price and print it.

And if they are from “Fort Worth, Columbus, San Francisco, Denver, Washington, El Paso, Las Vegas, Detroit, Louisville, Albuquerque” then include the tax of $0.41 in their price and print it.

And if they are from any other states then include the tax of $0.39 in their price and print it.

In [9]:
states = ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix", "San Antonio", "San Diego", "Dallas", 
          "San Jose", "Austin"]

states_lower = []
for state in states:
    states_lower.append(state.lower())
print(states_lower)

['new york', 'los angeles', 'chicago', 'houston', 'phoenix', 'san antonio', 'san diego', 'dallas', 'san jose', 'austin']

In [10]:
user_state = input("Please enter your state name: ").lower()
ticket_price = 12
tax_states = 1.21
tax_others = 0.39
final_price = 0

if user_state in states_lower:
    final_price = ticket_price + tax_states
    print(f"Including tax {tax_states} dollar, you will have to pay {final_price} dollar.")
else:
    final_price = ticket_price + 0.39
    print(f"Including tax {tax_others} dollar, you will have to pay {final_price} dollar.")

Please enter your state name: chicago
Including tax 1.21 dollar, you will have to pay 13.21 dollar.

### Remove numbers greater than 65 from a list while iterating

Write a program to remove numbers greater than 65 out of 30 randomly generated numbers between 18 and 82 from a list while iterating.

In [15]:
import random

nums = []
for i in range(30):
    num = random.randint(18,82)
    nums.append(num)
    
print(f"30 Random Numbers are: {nums}")
print(len(nums))

30 Random Numbers are: [51, 46, 48, 21, 76, 66, 22, 67, 81, 55, 76, 67, 32, 39, 69, 44, 35, 79, 79, 67, 32, 26, 42, 61, 75, 55, 48, 23, 53, 46]
30

In [16]:
for num in nums:
    if num > 65:
        nums.remove(num)
        
print(f"Numbers less than 65 are : {nums}")
print(len(nums))

Numbers less than 65 are : [51, 46, 48, 21, 66, 22, 81, 55, 32, 39, 44, 35, 79, 67, 32, 26, 42, 61, 55, 48, 23, 53, 46]
23

### Square each Element from a given list
You have a list of numbers 1 to 10 and you have to double each element of that list. e.g. [1, 2, 3] will be [1, 4, 9].

In [29]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums_double = []
for num in nums:
    nums_double.append(num*num)
    
print(f"Doubling list is: {nums_double}")

Doubling list is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### A dictionary with even numbers as keys and their squares as values
Suppose we want to create an output dictionary that contains only even numbers which are present in the input list as keys and their squares as values. Ex – {2: 4, 3: 9}. So write a program to create this dictionary.

In [30]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

output = {}
for num in input_list:
    if num%2 == 0:
        output[num] = num*num

print(output)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

### Write a program to return the factorial of a number using a function

The factorial of a number is defined as the product of an integer and all the integers below it. It means, the factorial of 4 is 1×2×3×4, which is equal to 24. It is represented using the symbol ‘!’ So, 24 is the value of 4!

In [32]:
def factorial(num):
    mult = 1
    for i in range(1, num+1):
        mult *= i
    print(f"Factorial of {num} is {mult}")
    
factorial(9)

Factorial of 9 is 362880

### Write a program to return the initials of the word contained in the given phrase, in upper case

Understand this example, “australian space agency” should return “ASA” or “danish National Space center” should return “DNSC”.

In [36]:
def short_upper(text):
    words = text.split()
    text_first_upper = ""
    for word in words:
        first_letters = word[0].upper()
        text_first_upper += first_letters
    return text_first_upper

short_upper("INDIAN SPACE RESEARCH ORGANISATION")

'ISRO'

### Write a python program to check if given phrases are palindrome are not

Palindrome:- A palindrome is a word, phrase, verse or sentence that reads the same forward or backward. For Example:- “Redder” is a palindrome. “Borrow or bob” is also a palindrome. “Nurse is Nurse” is not a palindrome.

In [44]:
def is_palindrome(input_string):
    new_string = input_string.split()
    print(new_string)
    new_string = "".join(new_string).lower()
    print(new_string)
    reverse_string = new_string[::-1]
    print(reverse_string)
    if new_string == reverse_string:
        return True
    return False

In [45]:
print(is_palindrome("Never Odd Or Even"))

['Never', 'Odd', 'Or', 'Even']
neveroddoreven
neveroddoreven
True

In [46]:
print(is_palindrome("Victory Story kiv"))

['Victory', 'Story', 'kiv']
victorystorykiv
vikyrotsyrotciv
False

### Write a program to convert the fahrenheit degree value into celcius

Ask the user, the temperature degree in Fahrenheit. Now your task is to convert the value to the Celcius scale in 1 float point number(28.9) and print it.

In [48]:
temp_f = float(input("Please enter the temperature in Farenheit: "))
temp_c = round((temp_f-32)/1.8, 1)
print(f"{temp_f} degree fahrenheit is equal to {temp_c} degree celcius")

Please enter the temperature in Farenheit: 20
20.0 degree fahrenheit is equal to -6.7 degree celcius

### Write a function to return a new string from a given string after removing a specific word

Remove letter "o" from this given string "pneumonoultramicroscopicsilicovolcanoconiosis" and print it.

In [55]:
def remove_letter(n):
    split_it = n.split("o")
    print(split_it)
    result = "".join(split_it)
    return result

print(remove_letter("pneumonoultramicroscopicsilicovolcanoconiosis"))

['pneum', 'n', 'ultramicr', 'sc', 'picsilic', 'v', 'lcan', 'c', 'ni', 'sis']
pneumnultramicrscpicsilicvlcancnisis