### Write a program that will ask the user any number, then print the multiplication table of that number

In [1]:
user_num = int(input("What is your number for multiplication table: "))

for i in range(1,11):
    mult = user_num * i
    print(f"{user_num} * {i} = {mult}")

What is your number for multiplication table: 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### You have a list of the names of all the planets in your solar system. Write a program that will print planet names with a length greater than 5.

In [2]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

for planet in planets:
    if len(planet) > 5:
        print(planet)

Mercury
Jupiter
Saturn
Uranus
Neptune

### You have three number, (a = 1000, b = 240, c = 40), you may assume another number. Now, write a program to find which is greatest number.

In [4]:
a = 1000
b = 2000
c = 40

if a>b and a>c:
    print(f'"a" having value {a} is the greatest number.')
elif b>a and b>c:
    print(f'"b" having value {b} is the greatest number.')
elif c>a and c>b:
    print(f'"c" having value {c} is the greatest number.')

"b" having value 2000 is the greatest number.

### Write a program that will print the 15 randomly generated numbers from 1 digit to 3 digits. Also, print which number is even and which is odd.

In [5]:
# Import required libraries

import random

In [6]:
number_list = []

for i in range(0,15):
    number_list.append(random.randint(1,999))
    
print(number_list)

[811, 892, 884, 461, 72, 955, 432, 293, 86, 445, 343, 389, 802, 799, 657]

In [7]:
for num in number_list:
    if num % 2 == 0:
        print(f"{num} is an even number")
    else:
        print(f"{num} is an odd number")

811 is an odd number
892 is an even number
884 is an even number
461 is an odd number
72 is an even number
955 is an odd number
432 is an even number
293 is an odd number
86 is an even number
445 is an odd number
343 is an odd number
389 is an odd number
802 is an even number
799 is an odd number
657 is an odd number

### Print today’s date and 365 days ago date

In [8]:
from datetime import datetime, timedelta

date_today = datetime.now()
date_365 = date_today - timedelta(days=365)

print(f"Today is: {date_today}")
print(f"365 days ago date was:: {date_365}")

Today is: 2022-04-01 10:58:57.081741
365 days ago date was:: 2021-04-01 10:58:57.081741

### Program that will print price including tax.

People from some states of America have come to see the show going on in London, and for this, they have to pay $ 12 and tax separately.

Now, write a program that will ask the users the name of their state. If they’re from “New York, Los Angeles, Chicago, Houston, Phoenix, San Antonio, San Diego, Dallas, San Jose, Austin” then include the tax of $1.21 in their price and print it.

And if they are from “Fort Worth, Columbus, San Francisco, Denver, Washington, El Paso, Las Vegas, Detroit, Louisville, Albuquerque” then include the tax of $0.41 in their price and print it.

And if they are from any other states then include the tax of $0.39 in their price and print it.

In [9]:
states = ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix", "San Antonio", "San Diego", "Dallas", 
          "San Jose", "Austin"]

states_lower = []
for state in states:
    states_lower.append(state.lower())
print(states_lower)

['new york', 'los angeles', 'chicago', 'houston', 'phoenix', 'san antonio', 'san diego', 'dallas', 'san jose', 'austin']

In [10]:
user_state = input("Please enter your state name: ").lower()
ticket_price = 12
tax_states = 1.21
tax_others = 0.39
final_price = 0

if user_state in states_lower:
    final_price = ticket_price + tax_states
    print(f"Including tax {tax_states} dollar, you will have to pay {final_price} dollar.")
else:
    final_price = ticket_price + 0.39
    print(f"Including tax {tax_others} dollar, you will have to pay {final_price} dollar.")

Please enter your state name: chicago
Including tax 1.21 dollar, you will have to pay 13.21 dollar.

### Remove numbers greater than 65 from a list while iterating

Write a program to remove numbers greater than 65 out of 30 randomly generated numbers between 18 and 82 from a list while iterating.

In [12]:
import random

nums = []
for i in range(30):
    num = random.randint(18,82)
    nums.append(num)
    
print(nums)
print(len(nums))

[34, 47, 69, 25, 77, 40, 74, 21, 59, 77, 72, 54, 74, 41, 75, 22, 58, 46, 59, 20, 68, 59, 60, 61, 50, 22, 45, 48, 65, 18]
30

In [13]:
for num in nums:
    if num > 65:
        nums.remove(num)
        
print(nums)
print(len(nums))

[34, 47, 25, 40, 21, 59, 72, 54, 41, 22, 58, 46, 59, 20, 59, 60, 61, 50, 22, 45, 48, 65, 18]
23